html {
  height: 100%;
}
@font-face {
  font-family: 'Lobster';
  src: url(/fonts/Lobster.ttf);
  font-style: normal;
}
@font-face {
  font-family: 'fontsO';
  src: url(/fonts/fontsO.ttf);
  font-style: normal;
}

:root {
  --primary-color: #54afe4;
}

.interactive:hover {
  color: var(--primary-color);
  transform: scale(1.1, 1.1);
}

.visual_design {
  width: 100%;
  transition-duration: 0.5s;
}

body {
  font-family: fontsO, sans-serif;
  min-height: 100%;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  background: url(/image/back.jpg) 0 0 / 100% 100% no-repeat fixed;
}

.container {
  max-width: 700px;
  background-image: url(/image/backbody.jpg);
  background-size: cover;
  margin: 50px auto 0px;
  box-shadow: 1px 1px 2px #dad7d7;
  border-radius: 3px;
  padding: 40px;
}

.header {
  column-gap: 30px;
  display: flex;
}

.contact {
  font-family: Lobster, serif;
  letter-spacing: normal;
}

.my_photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.contact_info {
  display: flex;
  align-content: flex-end;
  column-gap: 10px;
  flex-wrap: wrap;
}
.contact_item {
  flex-basis: 45%;
}

.text_accent {
  color: #999;
  font-weight: 300;
}

.separator {
  height: 10px;
  display: inline-block;
  border-left: 2px solid #999;
  margin: 0px 10px;
}
.about,
.section {
  border-top: 1px dashed var(--primary-color);
  padding-top: 20px;
  margin-top: 20px;
}

.section_title {
  letter-spacing: 2px;
  color: var(--primary-color);
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Lobster';
}

.name {
  margin: 0;
}

.section_list_item {
  margin-bottom: 40px;
  display: flex;
  column-gap: 20px;
}

.link {
  text-decoration: none;
  color: #000;
  font-style: italic;
}

.link:hover {
  text-decoration: underline;
  color: #000;
}

.skills_item {
  margin-bottom: 10px;
  display: flex;
}

.skill_checkbox {
  display: none;
}

.skill_label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #c3def3;
  border-radius: 20px;
  margin-right: 3px;
}

.skill_checkbox:checked + .skill_label {
  background: #79a9ce;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .container {
    margin: 0 auto;
  }
  .body {
    padding-bottom: 0px;
  }
}
@media (max-width: 400px) {
  .section_list_item {
    flex-direction: column;
    column-gap: 15px;
  }
  .skill_name {
    flex-basis: 90%;
  }
}
